<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Face</title>
    <link rel="stylesheet" href="../static/css/bot_css/bot_face.css">
    <script src="../static/js/bot_js/bot_face.js"></script>
</head>

<body>
    <div class="robot">
        <div class="eye left"></div>
        <div class="eye right"></div>
        <div class="mouth"></div>
        <div class="ear left"></div>
        <div class="ear right"></div>
    </div>
</body>

</html>