<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Web Interface</title>
    <!-- Link to CSS files -->
    <link rel="stylesheet" href="/static/css/index_css/style_index.css">
    <link rel="stylesheet" href="/static/css/bot_css/bot_face.css">
    <!-- Link to JavaScript files -->
    <script src="/static/js/index_js/index_script.js" defer></script>
    <script src="/static/js/bot_js/bot_face.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard-polyfill/3.0.3/clipboard-polyfill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/knn-classifier"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix"></script>
    <script src="https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js"></script>
</head>

<body>
    <div class="container">
        <!-- <div class="robot">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth"></div>
            <div class="ear left"></div>
            <div class="ear right"></div>
        </div> -->
        <div class="chat-container">
            <div id="chat-messages"></div>
            <div class="input-container">
                <input type="text" id="user-input" placeholder="Type your message or paste an image...">
                <button id="send-btn">Send</button>
            </div>
        </div>
    </div>
</body>

</html>